### Importing Pandas package

In [89]:
import pandas as pd

### Using read_html() to retrieve HTML tables as Dataframes

In [90]:
html_tabs = pd.read_html("https://www.genealogybranches.com/censuscosts.html")         # pandas retrieving HTML tables from web page

### Finding out the number of HTML tables pandas retrieve

In [91]:
len(html_tabs)                                         # finding the length of the list "html_tabs"

2

In [92]:
df1 = html_tabs[0]                # assigning 1st part of list to df1
df1.head()                        # printing first 5 rows of it

             0                 1            2                        3
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

In [94]:
df2 = html_tabs[1]                  # assigning 2nd part of list to df2
df2.head()                          # printing it

                                                   0
0  The U.S. population reached 300,000,000 on 17 ...

In [95]:
df1                   # printing entire 1st part which contains data

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

In [96]:
df1.columns             # to check the names of the columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [98]:
row1 = df1.iloc[0]            # printing the 1st row which is already there
row1

0                Census Year
1           Total Population
2                Census Cost
3    Average Cost Per Person
Name: 0, dtype: object

In [99]:
df1.columns = row1            # assigning the 1st row as column names
df1.head()                    # displaying 1st 5 rows to check if column names have changed

0  Census Year  Total Population  Census Cost  Average Cost Per Person
0  Census Year  Total Population  Census Cost  Average Cost Per Person
1         1790           3929214      $44,377               1.13 cents
2         1800           5308483      $66,109               1.24 cents
3         1810           7239881     $178,445               2.46 cents
4         1820           9633822     $208,526               2.16 cents

###The first row in the above dataframe is unnecessary and we need to remove that row as we have mentioned them as column names

In [100]:
df1.drop([0], inplace = True)              # removing/dropping the unnecessary 1st row

In [101]:
df1                   # displaying the df1 after removing unnecessary 1st row

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11

### Now the above dataframe **df1** looks good with necessary values

### Defining a function cleanse_year()

In [102]:
# defining a function cleanse_year()

def cleanse_year(raw_year):
  year = raw_year.replace("*", "")
  return year

### Testing on some examples below

In [103]:
cleanse_year("1989*")

'1989'

In [104]:
cleanse_year("20*10")

'2010'

In [105]:
cleanse_year("1*947")

'1947'

### Cleansing the "Census Year" column using "cleanse_year" function and using Pandas apply() function

In [106]:
df1["New Year"] = df1["Census Year"].apply(cleanse_year)      # applying the function and adding a new column to df1 dataframe
df1                                                           # checking our df1 dataframe

0  Census Year Total Population  ... Average Cost Per Person New Year
1         1790          3929214  ...              1.13 cents     1790
2         1800          5308483  ...              1.24 cents     1800
3         1810          7239881  ...              2.46 cents     1810
4         1820          9633822  ...              2.16 cents     1820
5         1830         12866020  ...              2.94 cents     1830
6         1840         17069458  ...              4.88 cents     1840
7         1850         23191876  ...              6.14 cents     1850
8         1860         31443321  ...              6.26 cents     1860
9         1870         38558371  ...              8.87 cents     1870
10        1880         50155783  ...             11.54 cents     1880
11        1890         62979766  ...             18.33 cents     1890
12        1900         76303387  ...             15.54 cents     1900
13        1910         91972266  ...             17.07 cents     1910
14        1920        105710620  ...             23.76 cents     1920
15        1930        122775046  ...             32.71 cents     1930
16        1940        131669275  ...             51.29 cents     1940
17        1950        151325798  ...             60.44 cents     1950
18        1960        179323175  ...             71.34 cents     1960
19        1970        203302031  ...                   $1.22     1970
20        1980        226542199  ...                   $4.76     1980
21        1990        248718301  ...                  $10.02     1990
22        2000        281421906  ...                  $15.99     2000
23       2010*        308745538  ...                  $42.11     2010

[23 rows x 5 columns]

Therefore, the cleanse_year function has worked perfectly

### Defining a cleanse_pop() function

In [107]:
# defining a function cleanse_pop()

def cleanse_pop(raw_pop):
  pop = raw_pop.replace("*", "")
  return pop

Testing on some examples below

In [108]:
cleanse_pop("584916*1")

'5849161'

In [109]:
cleanse_pop("254*5874")

'2545874'

In [110]:
cleanse_pop("*58674*4")

'586744'

### Applying the same cleanse_pop function to df1 dataframe

In [111]:
df1["New Population"] = df1["Total Population"].apply(cleanse_pop)
df1

0  Census Year Total Population  ... New Year New Population
1         1790          3929214  ...     1790        3929214
2         1800          5308483  ...     1800        5308483
3         1810          7239881  ...     1810        7239881
4         1820          9633822  ...     1820        9633822
5         1830         12866020  ...     1830       12866020
6         1840         17069458  ...     1840       17069458
7         1850         23191876  ...     1850       23191876
8         1860         31443321  ...     1860       31443321
9         1870         38558371  ...     1870       38558371
10        1880         50155783  ...     1880       50155783
11        1890         62979766  ...     1890       62979766
12        1900         76303387  ...     1900       76303387
13        1910         91972266  ...     1910       91972266
14        1920        105710620  ...     1920      105710620
15        1930        122775046  ...     1930      122775046
16        1940        131669275  ...     1940      131669275
17        1950        151325798  ...     1950      151325798
18        1960        179323175  ...     1960      179323175
19        1970        203302031  ...     1970      203302031
20        1980        226542199  ...     1980      226542199
21        1990        248718301  ...     1990      248718301
22        2000        281421906  ...     2000      281421906
23       2010*        308745538  ...     2010      308745538

[23 rows x 6 columns]

### Defining a new cleanse_cost() function

In [112]:
## defing the cleanse_cost() function

def cleanse_cost(raw_cost):
  cost = raw_cost.replace("$", "").replace(",", "").replace(" Billion", "000000000").replace("4.5000000000", "4500000000")
  return cost

### Testing the cleanse_cost() on some examples below

In [113]:
cleanse_cost("$56")

'56'

In [114]:
cleanse_cost("$98452")

'98452'

In [115]:
cleanse_cost("$786")

'786'

Applying the same function to dataframe df1

In [116]:
df1["New Cost"] = df1["Census Cost"].apply(cleanse_cost)
df1

0  Census Year Total Population  ... New Population     New Cost
1         1790          3929214  ...        3929214        44377
2         1800          5308483  ...        5308483        66109
3         1810          7239881  ...        7239881       178445
4         1820          9633822  ...        9633822       208526
5         1830         12866020  ...       12866020       378545
6         1840         17069458  ...       17069458       833371
7         1850         23191876  ...       23191876      1423351
8         1860         31443321  ...       31443321      1969377
9         1870         38558371  ...       38558371      3421198
10        1880         50155783  ...       50155783      5790678
11        1890         62979766  ...       62979766     11547127
12        1900         76303387  ...       76303387     11854000
13        1910         91972266  ...       91972266     15968000
14        1920        105710620  ...      105710620     25117000
15        1930        122775046  ...      122775046     40156000
16        1940        131669275  ...      131669275     67527000
17        1950        151325798  ...      151325798     91462000
18        1960        179323175  ...      179323175    127934000
19        1970        203302031  ...      203302031    247653000
20        1980        226542199  ...      226542199   1078488000
21        1990        248718301  ...      248718301   2492830000
22        2000        281421906  ...      281421906   4500000000
23       2010*        308745538  ...      308745538  13000000000

[23 rows x 7 columns]

### Defining the function cleanse_avg_cost()

In [117]:
def cleanse_avg_cost(raw_avg_cost):
    if raw_avg_cost.find("cents") != -1:
      f = float(raw_avg_cost.replace("cents", ""))
      avg_cost = f/100
    else:
      avg_cost = raw_avg_cost.replace("$", "")
    return avg_cost

Testing the function on below examples

In [118]:
cleanse_avg_cost("$6.3")

'6.3'

In [119]:
cleanse_avg_cost("3 cents")

0.03

In [120]:
cleanse_avg_cost("52.974 cents")

0.52974

### Applying the same to dataframe df1

In [121]:
df1["New Avg Cost"] = df1["Average Cost Per Person"].apply(cleanse_avg_cost)
df1

0  Census Year Total Population  ...     New Cost New Avg Cost
1         1790          3929214  ...        44377       0.0113
2         1800          5308483  ...        66109       0.0124
3         1810          7239881  ...       178445       0.0246
4         1820          9633822  ...       208526       0.0216
5         1830         12866020  ...       378545       0.0294
6         1840         17069458  ...       833371       0.0488
7         1850         23191876  ...      1423351       0.0614
8         1860         31443321  ...      1969377       0.0626
9         1870         38558371  ...      3421198       0.0887
10        1880         50155783  ...      5790678       0.1154
11        1890         62979766  ...     11547127       0.1833
12        1900         76303387  ...     11854000       0.1554
13        1910         91972266  ...     15968000       0.1707
14        1920        105710620  ...     25117000       0.2376
15        1930        122775046  ...     40156000       0.3271
16        1940        131669275  ...     67527000       0.5129
17        1950        151325798  ...     91462000       0.6044
18        1960        179323175  ...    127934000       0.7134
19        1970        203302031  ...    247653000         1.22
20        1980        226542199  ...   1078488000         4.76
21        1990        248718301  ...   2492830000        10.02
22        2000        281421906  ...   4500000000        15.99
23       2010*        308745538  ...  13000000000        42.11

[23 rows x 8 columns]

### Creating a new csv file to save the cleansed dataframe

In [122]:
import csv

df1.to_csv('census_cost_cleansed.csv')

### Reading the saved cleansed file and displaying it

In [124]:
with open("/content/census_cost_cleansed.csv") as file:
  census_reader = csv.reader(file)
  final_csv = file.readlines()
  for i in final_csv:
    print(i)

,Census Year,Total Population,Census Cost,Average Cost Per Person,New Year,New Population,New Cost,New Avg Cost

1,1790,3929214,"$44,377",1.13 cents,1790,3929214,44377,0.0113

2,1800,5308483,"$66,109",1.24 cents,1800,5308483,66109,0.0124

3,1810,7239881,"$178,445",2.46 cents,1810,7239881,178445,0.0246

4,1820,9633822,"$208,526",2.16 cents,1820,9633822,208526,0.0216

5,1830,12866020,"$378,545",2.94 cents,1830,12866020,378545,0.0294

6,1840,17069458,"$833,371",4.88 cents,1840,17069458,833371,0.048799999999999996

7,1850,23191876,"$1,423,351",6.14 cents,1850,23191876,1423351,0.061399999999999996

8,1860,31443321,"$1,969,377",6.26 cents,1860,31443321,1969377,0.0626

9,1870,38558371,"$3,421,198",8.87 cents,1870,38558371,3421198,0.08869999999999999

10,1880,50155783,"$5,790,678",11.54 cents,1880,50155783,5790678,0.11539999999999999

11,1890,62979766,"$11,547,127",18.33 cents,1890,62979766,11547127,0.1833

12,1900,76303387,"$11,854,000",15.54 cents,1900,76303387,11854000,0.15539999999999998

13,1910,91972266,"$15,968,000",17.07 cents,1910,91972266,15968000,0.1707

14,1920,105710620,"$25,117,000",23.76 cents,1920,105710620,25117000,0.2376

15,1930,122775046,"$40,156,000",32.71 cents,1930,122775046,40156000,0.3271

16,1940,131669275,"$67,527,000",51.29 cents,1940,131669275,67527000,0.5129

17,1950,151325798,"$91,462,000",60.44 cents,1950,151325798,91462000,0.6043999999999999

18,1960,179323175,"$127,934,000",71.34 cents,1960,179323175,127934000,0.7134

19,1970,203302031,"$247,653,000",$1.22,1970,203302031,247653000,1.22

20,1980,226542199,"$1,078,488,000",$4.76,1980,226542199,1078488000,4.76

21,1990,248718301,"$2,492,830,000",$10.02,1990,248718301,2492830000,10.02

22,2000,281421906,$4.5 Billion,$15.99,2000,281421906,4500000000,15.99

23,2010*,308745538,$13 Billion,$42.11,2010,308745538,13000000000,42.11

In [127]:
df1.info()                # Just for checking

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1 to 23
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
 4   New Year                 23 non-null     object
 5   New Population           23 non-null     object
 6   New Cost                 23 non-null     object
 7   New Avg Cost             23 non-null     object
dtypes: object(8)
memory usage: 1.6+ KB